<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guide</title>
</head>
<body>

<h1>怎么用</h1>
<hr/>

<p>
    1. 点击配置打卡，根据提示填写相应配置。
    2. 注册成功后，登录系统。
    3. 控制台相应按钮的解释
        + 有图打卡：点击后系统会收到你的打卡请求并在执行完毕后返回打卡成功后的的网页截图，当然，这个图会保存服务器上，点击"查看最新打卡图"按钮即可查看
        + 有图打卡：点击后系统会收到你的打卡请求，在打卡完毕后保存网页截图并保存，点击"查看最新打卡图"按钮即可查看
        + 查看最新打卡图：点击后可以看到最新的打卡结果的截图。
        + 下面输入框为你的配置，可根据你的实际情况更新

    注意：
        1.服务器每天8点10分都会自动为你打卡，只要配置正确就不必每天点击打卡按钮，若不放心打卡结果可以查看最新的打卡图的日期是否是今日。

    常见问题：
    1. 点击手动打卡后最新打卡图还是昨天的？
        A：点击手动打卡并不会立即打卡而是将请求放入执行池，且整个打卡任务执行时间大概在4～5秒之内，故最后生成的打卡图也会有延迟，请稍等一段时间再来检查
</p>

</body>
</html>