<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login or register</title>
</head>
<body>
<h1>登录DaKaLa打卡</h1>
<hr/>
<form action="/login" method="post">
     <label for="form_stuid">学号</label>
    <input id="form_stuid" type="number" name="stuid"><br/><br/>

    <label for="form_pwd">密码</label>
    <input id="form_pwd" type="password" name="password"><br/><br/>

    <button type="submit">登录</button>
</form>




<hr/>

<form action="/goregister" method="get">
<button type="submit">没有配置过打卡账号？去注册配置</button>
</form>
</body>
</html>