<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的打卡面版</title>
      <link href="https://cdn.bootcdn.net/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.js"></script>
</head>
<body>
<div data-role="page" id="panel">

    <div data-role="header">
<h1>我的打卡面版</h1>
<p>每天早上8点服务器会开始批量打卡，请各位留意最新打卡图的序号，保证打卡成功</p>
    </div>
<hr/>


<h1>最近的一次打卡情况: {{ callback }}</h1>

<form action="/daka/{{ stuid }}" method="post">
     <div class="ui-field-contain">
    <label for="daka_photo">(需要等待较长时间！！！等待时请不要返回或则刷新！！！)</label>
    <button class="ui-shadow ui-btn ui-corner-all"  id="daka_photo" type="submit">有图打卡</button>
     </div>
</form>

<br/>

<form action="/daka/nophoto/{{ stuid }}" method="post">
     <div class="ui-field-contain">
    <label for="daka_nophoto">(若想查看最新的打卡图也需等待服务器生成)</label>
    <button class="ui-shadow ui-btn ui-corner-all"  id="daka_nophoto" type="submit">无图打卡</button>
     </div>
</form>
<br/>
<form action="/photo/{{ stuid }}" method="post">
    <button class="ui-shadow ui-btn ui-corner-all"  type="submit">查看最新的打卡图</button>
</form>

<br/>
<br/>


<form action="/updateconfig" method="post" enctype="multipart/form-data">

 <div class="ui-field-contain">
    <input type="hidden" name="stuid" value="{{ stuid }}">
    <label for="form_stuid">学号</label>
    <input id="form_stuid" type="number" name="stuid" value="{{ stuid }}"><br/><br/>
 </div>

     <div class="ui-field-contain">
    <p># 现居住地城市情况 1=> 一般地区  2=> 疫情防控重点地区 3=> 所在小区被隔离管控</p>
    <label for="form_cityStatus">现居住地城市情况 </label>
    <input id="form_cityStatus" type="text" name="cityStatus" value="{{ config.cityStatus }}"><br/><br/>
     </div>

     <div class="ui-field-contain">
    <p># 今天工作状态 1 =>航空港校内上班或学习 2 =>龙泉校内上班或学习 3=>在校外完成实习任务 4 =>在校外 5=>在家</p>
    <label for="form_workingPlace">今天工作状态</label>
    <input id="form_workingPlace" value="{{ config.workingPlace }}" type="text" name="workingPlace"><br/><br/>
     </div>

     <div class="ui-field-contain">
    <p># 个人健康状况 1 =>正常  2 =>有可疑症状  3=>疑似感染  4=>确诊感染  5 =>确诊感染但已康复</p>
    <label for="form_healthStatus">个人健康状况</label>
    <input id="form_healthStatus" value="{{ config.healthStatus }}" type="text" name="healthStatus"><br/><br/>
     </div>

     <div class="ui-field-contain">
    <p># 个人生活状态 1 =>正常 3 =>居家隔离观察 4 =>集中隔离观察 5 =>居家治疗 2 =住院治疗</p>
    <label for="form_livingStatus">个人生活状态</label>
    <input id="form_livingStatus" value="{{ config.livingStatus }}" type="text" name="livingStatus"><br/><br/>
     </div>

     <div class="ui-field-contain">
    <p>#家庭成员状况 1 =>全部正常 2 =>有人有可疑症状 3 =>有人疑似感染 4 =>有人确诊感染 5 =>有人确诊感染但已康复</p>
    <label for="form_homeStatus">家庭成员状况</label>
    <input id="form_homeStatus" type="text" name="homeStatus" value="{{ config.homeStatus }}"><br/><br/>
     </div>


    <button type="submit">更新配置</button>

</form>
<br/>
<br/>
<br/>
<br/>


<hr/>
<br/>
<table>

    <td>
        <form action="/delete" method="post">
            <input type="hidden" name="stuid" value="{{ stuid }}">
            <button type="submit">删除我的信息</button>
        </form>
    </td>

    <td>
         <form action="/quit" method="post" style="float:left; ">
            <input type="hidden" name="stuid" value="{{ stuid }}">
            <button type="submit">退出登录</button>
        </form>
    </td>
</table>

</div>
</body>



<style>
</style>
</html>