<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>admin-panel</title>
      <link href="https://cdn.bootcdn.net/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.js"></script>
</head>
<body>


<table>
    <thead>
        <th>学号</th>
        <th>打卡成功否</th>
    </thead>

    <tbody>
         {% for stu in stulist %}
            <td>{{ stu.stuid }}</td>
             <td>{{ stu.flag }}</td>
         {% endfor %}
    </tbody>
</table>

</body>
</html>