<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quit</title>
      <link href="https://cdn.bootcdn.net/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://cdn.bootcdn.net/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.js"></script>
</head>
<body>

<h1>退出成功，正在跳转</h1>
<hr/>
<script>
    $.mobile.changePage("/", {
	allowSamePageTransition: true,
	transition: 'none',
	reloadPage: true,
});
</script>
</body>
</html>